@font-face {
    font-family: 'THSarabunNew';
    src: url("fonts/THSarabunNew.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'THSarabunNewBd';
    src: url("fonts/THSarabunNew Bold.ttf") format("truetype");
    
}
.pageContent{
    text-align: center;
    padding: 20px 50px;
}
.ui.icon.header.pageHeader{
    font-family: THSarabunNewBd;
    font-size: 40px;
}
.AddNewPatientForm{
    text-align: left;
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 20px;
    width: 90%;
    margin: auto;
}
.ui.icon.aligned.header{
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    text-align: left;
}
/* .head.headName {
    font-family: THSarabunNewBd;
    color: red;
    font-size: 50px !important;
} */