.menuContent{
    color: brown;
    font-weight: bold;
}
@font-face {
    font-family: 'THSarabunNew';
    src: url("fonts/THSarabunNew.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'THSarabunNewBd';
    src: url("fonts/THSarabunNew Bold.ttf") format("truetype");
    
}
.loginHeader{
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 30px;
}
.loginForm{
    text-align: left;
    color: #117cba;
    padding-bottom: 20px;
    font-family: THSarabunNew;
    font-size: 20px;
}
.forgotPW{
    font-family: THSarabunNew;
    font-size: 10px;
}
.submitBtn{
    text-align: center;
}
.pageContent{
    padding: 90px,auto;
    text-align: center;
}
.ui.icon.header.pageHeader{
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headline{
    text-align: center;
}