/* .ui.segment.pushable{
    height: 100%;
    position: fixed;
    width: 50px;
} */
.ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.menu{
    height: 100%;
    position: fixed;
    width: 50px;
}